<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table class="ui basic table">
  <thead>
    <tr><th>item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr></thead>
  <tbody>
 
    <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
  </tbody>
  <% if @order.adjustments.exists? || @order.line_item_adjustments.exists? || @order.shipment_adjustments.exists? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></th>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>
 
</table>
