 
 
 <div class="ui menu">
  <a class="active item" href="/">
    <i class="home icon"></i> Home
  </a>
  <% if current_order.present? %>
      <a class="item" href="/cart">
    <i class="cart icon"></i> Cart 
    <p class="cart_count"> <%= current_order.line_items.count %> </p>
  </a>
  <% end %>
 
  <div class="right menu">

    <div class="item">

     
        <%= form_tag "/products?", :method => :get,:id=>"search_form" do %>
<div class="ui icon input">
  <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
  <i class="circular search icon search_keywords"></i>
</div>

 <!-- <i class="search link icon"></i>-->
  <%#= hidden_field_tag :search_field_params,"clean"%>

  <%#= submit_tag Spree.t(:search), :name => nil %>
<% end %>
       
      
    </div>
  </div>
</div>
<div class="cart_page" style="margin-left:20px;margin-right:20px;">

<table class="ui table segment">
  <tfoot>
    <tr><th colspan="3">
      Shopping cart
    </th>
  </tr></tfoot>
</table>



<% @body_id = 'cart' %>
<div data-hook="cart_container">
   <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
    </div>

  <% else %>
    <div data-hook="outside_cart_form">
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div data-hook="inside_cart_form">

      <div data-hook="cart_items">
        <%= render :partial => 'form', :locals => { :order_form => order_form } %>
      </div>



<div class="ui blue message">
      <div class="links columns sixteen alpha omega" data-hook="cart_buttons">
        <div class="ui input error" placeholder="Search...">
  

        <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
        </div>
        <%= button_tag :class => 'positive ui button', :id => 'update-button' do %>
          <%= Spree.t(:update) %>
      <% end %>
        <%= button_tag :class => 'negative ui button', :id => 'checkout-link', :name => 'checkout' do %>
          <%= Spree.t(:checkout) %>
      <% end %>
       <div class="ui green labeled button" style="float:right;margin-right:88px"> <%= order_form.object.display_total %> </div>
      </div>
</div>



    </div>
  <% end %>
  </div>

<div class="ui blue message" style="margin-bottom:20px;">




  <div id="empty-cart" data-hook>
    <%= form_tag empty_cart_path, :method => :put do %>
      <p id="clear_cart_link" data-hook>
    <%= submit_tag Spree.t(:empty_cart), :class => 'positive ui button' %>
    <%= Spree.t(:or) %>
    <%= link_to Spree.t(:continue_shopping), products_path, :class => 'negative ui button' %>
    </p>
  <% end %>
  </div>

  <% end %>
</div>
</div>
</div>

<script>

$(".search_keywords").bind('click', function() {

$('form#search_form').submit();
});
</script>
